<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Admin - Brand List</title>
	<th:block th:replace="fragments :: head"></th:block>
</head>

<body>
	<!-- Include the admin navigation bar -->
	<div th:replace="admin-navbar.html :: adminNavigationBar"></div>
	<div class="content">
	<div id="successPopup" class="alert alert-success" role="alert" style="display:none;" th:text="${returnMessage}">
	</div>
	<div id="alertPopup" class="alert alert-warning" role="alert" style="display:none;" th:text="${returnAlertMessage}">
	</div>
	<div class="container">
		<h2>Create Brand</h2>
		<form th:action="@{/admin/create/brand}" method="post" th:object="${brand}">
			<div class="form-row">
				<div class="form-group col-md-5">
					<input placeholder="Brand Name" type="text" class="form-control" id="brandName" th:field="*{brand_name}" required>
					<span style="color: red;" th:if="${#fields.hasErrors('brand_name')}"
						th:errors="*{brand_name}"></span>
				</div>
				<div class="form-group col-md-5">
					<input placeholder="Brand Description" type="text" class="form-control" id="brandDescription" th:field="*{brand_description}">
					<span style="color: red;" th:if="${#fields.hasErrors('brand_description')}"
						th:errors="*{brand_description}"></span>
				</div>
				<div class="form-group col-md-2">
					<button style="margin-bottom: 10px;" type="submit" class="btn btn-success text-right">Add Brand</button>
				</div>
			</div>
		</form>
	</div>
	<div class="container mt-2">
		<h2>Brand List</h2>
		<table id="brandTable" class="display" style="width:100%">
			<thead>
				<tr>
					<th>Brand ID</th>
					<th>Brand Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="brand : ${brandList}">
					<td th:text="${brand.brand_id}"></td>
					<td th:text="${brand.brand_name}"></td>
					<td th:text="${brand.brand_description}"></td>

				</tr>
			</tbody>
		</table>
	</div>
	<script>
		$(document).ready(function () {
			var table = $('#brandTable').DataTable({
				"searching": true,  // Enable searching
				"paging": true,     // Enable pagination
				"info": true,       // Display table information
				"language": {
					"search": "Search Brand:",  // Customize search bar label
				}
			});
			if ($('#successPopup').text().length > 0) {
				$('#successPopup').show();
				setTimeout(function () {
					$("#successPopup").fadeOut();
				}, 5000);
			}
			if ($('#alertPopup').text().length > 0) {
				$('#alertPopup').show();
				setTimeout(function () {
					$("#alertPopup").fadeOut();
				}, 10000);
			}
		});
	</script>
	</div>
	<div th:replace="fragments :: footer"></div>
</body>

</html>