<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Forgot Password</title>
    <th:block th:replace="fragments :: head"></th:block>
    <script type="text/javascript">
        function showError() {
            var errorMessage = "[[${error}]]";
            if (errorMessage) {
                alert(errorMessage);
            }
        }
    </script>
</head>

<body onload="showError()">
    <div th:replace="fragments :: header"></div>
	<div class="content">
    <div id="custom-form-login">
        <form action="/password/forgot" method="post">
            <h1>Forgot Password</h1>

            <div class="input-group">
                <input class="custom-input" type="email" id="emailForgot" name="email" placeholder="Enter your email" required>
            </div>

            <button type="submit" class="login-button">Send Verification Code</button>

            <div class="extra-options">
                <a href="/login" class="problem-link">Back to Login</a>
            </div>
        </form>
    </div>
	</div>
    <div th:replace="fragments :: scripts"></div>
	<div th:replace="fragments :: footer"></div>
</body>

</html>