<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Product Detail</title>
	<th:block th:replace="fragments :: head"></th:block>
	<script>
		$(document).ready(function () {
			var stockLevel = parseInt($('#stock-level').text());
			if (stockLevel === 0) {
				$('#addToCartBtn').attr('disabled', true);
			}

			$('#quantity').on('input', function () {
				var maxQuantity = parseInt($('#quantity').attr('max'));
				var currentQuantity = parseInt($(this).val());

				if (currentQuantity > maxQuantity) {
					$('#quantityWarning').show();
					$('#addToCartBtn').prop('disabled', true);
					$('#exceededQuantityMsg').show();
				} else {
					$('#quantityWarning').hide();
					$('#addToCartBtn').prop('disabled', false);
					$('#exceededQuantityMsg').hide();
				}
			});
		});
	</script>
</head>

<body>
	<div th:replace="fragments :: header"></div>
	<div class="content container my-5">
		<div class="row">
			<!-- Product Image Slideshow -->
			<div class="col-md-6">
				<div id="productCarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li th:each="image, iterStat : ${productImages}" data-target="#productCarousel"
							th:data-slide-to="${iterStat.index}"
							th:classappend="${iterStat.index == 0} ? 'active' : ''">
						</li>
					</ol>
					<div class="carousel-inner">
						<div th:each="image, iterStat : ${productImages}"
							th:classappend="${iterStat.index == 0} ? 'active' : ''" class="carousel-item">
							<img class="d-block w-100" th:src="@{${'http://localhost:8080/images/'+image}}"
								alt="Product Image">
						</div>
					</div>
					<a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>

			<!-- Product Details -->
			<div class="col-md-3">
				<h3 th:text="${product.product_name}"></h3>
				<p th:text="${product.product_description}"></p>
				<div class="product-reviews">
					<!-- Display stars based on rating passed by the controller -->
					<div class="stars">
						<i class="fas fa-star" th:classappend="${maxRating >= 1} ? 'checked' : ''"></i>
						<i class="fas fa-star" th:classappend="${maxRating >= 2} ? 'checked' : ''"></i>
						<i class="fas fa-star" th:classappend="${maxRating >= 3} ? 'checked' : ''"></i>
						<i class="fas fa-star" th:classappend="${maxRating >= 4} ? 'checked' : ''"></i>
						<i class="fas fa-star" th:classappend="${maxRating >= 5} ? 'checked' : ''"></i>
					</div>

					<!-- Display the review info or link to be the first reviewer -->
					<span th:if="${reviewsCount > 0}">
						<a th:href="@{/product-review/{id}(id=${product.product_id})}"
							th:text="${reviewsCount + ' review(s)'}"></a> |
						<a th:href="@{/product-review/{id}(id=${product.product_id})}">Add your review</a>
					</span>
					<span th:if="${reviewsCount == 0}">
						<a th:href="@{/product-review/{id}(id=${product.product_id})}">Be the first person to review</a>
					</span>
				</div>
				<h6>Product Features:</h6>
				<ul>
					<li th:each="feature : ${productFeatures}" th:text="${feature}">Feature</li>
				</ul>
			</div>

			<!-- Third Column: Price, Quantity Selector, Add to Cart -->
			<div class="col-md-3">
				<p><strong>Price:</strong> $<span th:text="${product.sale_price}"></span></p>
				<div>
					<strong>Stock Level:</strong>
					<span hidden id="stock-level" th:text="${product.quantity}"></span>
					<span th:if="${product.quantity > 10}" class="stock-efficient">Efficient Stock</span>
					<span th:if="${product.quantity > 0 and product.quantity <= 10}" class="stock-low">Low Stock</span>
					<span th:if="${product.quantity == 0}" class="stock-out">Out of Stock</span>
				</div>

				<form th:action="@{/cart}" method="post">
					<!-- Hidden Input for Product ID -->
					<input type="hidden" name="productId" th:value="${product.product_id}" />

					<!-- Quantity Input Field -->
					<div class="form-group">
						<label for="quantity">Quantity to Order:</label>
						<input type="number" id="quantity" name="quantity" min="1" th:max="${product.quantity}"
							class="form-control" value="1">
						<!-- Warning message -->
						<small id="quantityWarning" style="color: red; display: none;">
							Quantity exceeds available stock!
						</small>
					</div>

					<!-- Exceeded Quantity Message -->
					<div id="exceededQuantityMsg" class="exceeded-quantity-msg" style="display: none;">
						<p>Please <a href="mailto:someone@example.com" class="contact-link"> contact us via email </a>
							to order more quantity.</p>
					</div>

					<!-- Submit Button -->
					<button type="submit" th:disabled="${session.userRole=='user'}" id="addToCartBtn" class="btn btn-primary">
						Add to Cart
					</button>
				</form>
			</div>
		</div>
	</div>

	<div th:replace="fragments :: scripts"></div>
	<div th:replace="fragments :: footer"></div>
</body>

</html>