<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Reset Password</title>
    <th:block th:replace="fragments :: head"></th:block>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
    <script type="text/javascript">
        function showError() {
            var errorMessage = "[[${error}]]";
            if (errorMessage) {
                alert(errorMessage);
            }
        }
    </script>
</head>

<body onload="showError()">
    <div th:replace="fragments :: header"></div>
	<div class="content">
    <div id="custom-form-login">
        <form action="/password/reset" method="post">
            <h1>Reset Password</h1>

        
            <input type="hidden" name="email" th:value="${email}" />

    
            <div class="input-group">
                <input type="password" id="newPassword" name="new_password" placeholder="Enter new password" required>
            </div>
            <p></p>


            <div class="input-group">
                <input type="password" id="confirmPassword" name="confirm_password" placeholder="Confirm new password" required>
            </div>
            <p></p>

            <button type="submit" class="login-button">Reset Password</button>

            <div class="extra-options">
                <a href="/login" class="problem-link">Back to Login</a>
            </div>
        </form>
    </div>
	</div>
    <div th:replace="fragments :: scripts"></div>
	<div th:replace="fragments :: footer"></div>
</body>

</html>