<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Checkout Success</title>
    <th:block th:replace="fragments :: head"></th:block>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 20px;
      }

      .cart-progress-bar {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        background-color: #e0e0e0;
        border-radius: 8px;
        margin-bottom: 20px;
        text-align: center;
      }

      .cart-progress-step {
        flex: 1;
        padding: 10px;
        border-right: 1px solid #bbb;
      }

      .cart-progress-step:last-child {
        border-right: none;
      }

      .cart-progress-step.active {
        background-color: #0078d7;
        color: white;
        font-weight: bold;
      }

      .section-head {
        border-bottom: 2px solid #545454;
        padding-bottom: 10px;
        margin-top: 40px;
      }

      .product-details {
        flex: 1;
        place-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .product-details-text {
        text-align: center;
        padding: 10px;
      }
    </style>
  </head>

  <body>
    <div th:replace="fragments :: header"></div>
	<div class="content">
    <!-- Progress Bar -->
    <div class="cart-progress-bar">
      <div class="cart-progress-step">Cart</div>
      <div class="cart-progress-step">Checkout</div>
      <div class="cart-progress-step active">Confirmation</div>
    </div>
    <div>
      <h1 style="text-align: left; color: #000000; margin-top: 20px">
        Thank you for your purchase!
      </h1>
      <p>Your order has been successfully processed.</p>
    </div>

    <h2 style="margin-top: 40px"><strong>ORDER SUMMARY</strong></h2>
    <h3>Order Id: #<span th:text="${orderHistory.orderId}"></span></h3>
    <div class="customer-details">
      <h3 class="section-head">Customer Details</h3>
      <p><strong>Name:</strong> <span th:text="${customer.username}"></span></p>
      <p><strong>Email:</strong> <span th:text="${customer.email}"></span></p>
      <p>
        <strong>Phone Number:</strong>
        <span th:text="${customer.phoneNumber}"></span>
      </p>
    </div>
    <div class="shipping-address">
      <p>
        <strong>Shipping Address:</strong>
        <span th:text="${customer.address}"></span>
      </p>
    </div>
    <div>
      <div class="order-details">
        <h3 class="section-head">Order Details</h3>
        <table
          class="order-details-table"
          style="width: 100%; border-collapse: collapse"
        >
          <thead>
            <tr>
              <th
                style="
                  text-align: left;
                  border-bottom: 2px solid #e0e0e0;
                  padding: 10px;
                "
              >
                Product Details
              </th>
              <th
                style="
                  text-align: left;
                  border-bottom: 2px solid #e0e0e0;
                  padding: 10px;
                "
              >
                Quantity
              </th>
              <th
                style="
                  text-align: left;
                  border-bottom: 2px solid #e0e0e0;
                  padding: 10px;
                "
              >
                Unit Price
              </th>
              <th
                style="
                  text-align: left;
                  border-bottom: 2px solid #e0e0e0;
                  padding: 10px;
                "
              >
                Total Price
              </th>
            </tr>
          </thead>

          <tbody th:each="item : ${successOrderDetails}">
            <tr th:attr="data-product-id=${item.product.product_id}">
              <td
                class="product-details"
                style="display: flex; align-items: center"
              >
                <img
                  th:src="@{/images/} + ${item.product.product_name} + '_1.jpg'"
                  alt="Product Image"
                  style="max-width: 100px; margin-right: 20px"
                />
                <div>
                  <h4 th:text="${item.product.product_name}">Product Name</h4>
                  <p th:text="${item.product.product_description}">
                    Product Description
                  </p>
                </div>
              </td>
              <td
                class="product-details-text quantity"
                th:text="${item.quantity}"
              >
                0
              </td>
              <td
                class="product-details-text salePrice"
                th:text="'S$' + ${item.product.sale_price}"
              >
                S$0.00
              </td>
              <td class="product-details-text totalEachPrice">S$0.00</td>
              <!-- Calculate total price -->
            </tr>
          </tbody>
        </table>

        <h5 style="text-align: right; font-weight: bold">
          Total Amount Paid:
          <span
            th:text="'S$ ' + (${totalAmount}!= null ? ${#numbers.formatDecimal(totalAmount, 2, 2)} : '0.00')"
            >S$0.00</span
          >
        </h5>
        <h5 style="text-align: right; font-size: 12px">
          Payment by:
          <span th:text="${orderHistory.getPaymentMethod()}">S$0.00</span>
          <img
            th:src="${paymentMethodUrl}"
            alt="Payment Method Image"
            style="width: 30px; height: auto; margin-left: 10px"
          />
        </h5>
      </div>

      <div class="additional-info">
        <h3 class="section-head">Delivery Information</h3>
        <p style="margin: 0"><strong>Standard Delivery</strong></p>
        <p style="margin: 0">
          Your order will be shipped via standard delivery. Typically, items in
          stock are dispatched within 1 business day and will arrive at your
          designated address within 3 to 5 business days.
        </p>
      </div>
      <div>
        <p style="margin: 0; margin-top: 20px; font-size: 16px">
          <strong>Need Help?</strong>
        </p>
        <p style="margin: 0; font-size: 14px">Call 6123 6789</p>
        <p style="margin: 0; font-size: 14px">
          Mon-Fri 8:30 am - 5:30 pm (excl. public holidays)
        </p>
      </div>

      <a style="margin-top: 20px" href="/" class="btn btn-primary"
        >Continue Shopping</a
      >
    </div>
	</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        console.log("DOM fully loaded and parsed");
        calculateEachTotal(); // Calculate total when the page loads
      });

      function calculateEachTotal() {
        console.log("calculateEachTotal() called");
        const rows = document.querySelectorAll("tbody tr");

        rows.forEach((row) => {
          // Get quantity and sale price from current row
          let quantity = parseFloat(row.querySelector(".quantity").innerText);
          let salePrice = parseFloat(
            row.querySelector(".salePrice").innerText.replace("S$", "").trim()
          );

          // Check values for debugging
          console.log("Quantity:", quantity);
          console.log("Sale Price:", salePrice);

          // Calculate total price for this row
          let totalEachPrice = quantity * salePrice;

          // Format the result to two decimal places
          totalEachPrice = totalEachPrice.toFixed(2);

          // Display the result in the totalEachPrice cell of the current row
          row.querySelector(".totalEachPrice").innerText =
            "S$" + totalEachPrice;
        });
      }
    </script>
    <div th:replace="fragments :: scripts"></div>
	<div th:replace="fragments :: footer"></div>
  </body>
</html>
